# Data Exploration

In [1]:
import pandas
pandas.__version__

'2.1.1'

### Parse Files

In [1]:
import json

FILES = [
    'leagues.json',
    'player.json',
    'teams.json',
    'tournaments.json',
]

def parse(filename):
    f = open(filename)
    data = json.load(f)
    return data

leagues = parse('data/leagues.json')
players = parse('data/player.json')
teams = parse('data/teams.json')
tournaments = parse('data/tournaments.json')
games = parse('games.json')

In [3]:
import pandas

df = pandas.DataFrame(games)
df

,id,state,number,tournament_id,tournament_leagueId,tournament_name,tournament_slug,tournament_sport,tournament_startDate,tournament_endDate,...,blue_support,blue_top,red_top,red_jungle,red_mid,red_bottom,red_support,red_none,winner,is_forfeit
0,110733838936446929,completed,1,110733838935136200,109518549825754242,#2 Summer 2023,nacl_qualifiers_2_summer_2023,lol,2023-07-20,2023-08-15,...,107577680004170214,98926509821954141,110734375638473497,110734382304225523,110734389154290474,110734393683634460,110734399542284248,110734403894726628,blue,False
1,110733838936446930,completed,2,110733838935136200,109518549825754242,#2 Summer 2023,nacl_qualifiers_2_summer_2023,lol,2023-07-20,2023-08-15,...,110734399542284248,110734375638473497,98926509821954141,110536248987966005,107577680230859353,101383793885656347,107577680004170214,109981743659695659,red,False
2,110733838936446933,completed,1,110733838935136200,109518549825754242,#2 Summer 2023,nacl_qualifiers_2_summer_2023,lol,2023-07-20,2023-08-15,...,109783456115883308,NaN,107577678614544951,110536140884380252,107577678374651690,107577682684527120,110734303321604771,99101098222932482,blue,False
3,110733838936446934,completed,2,110733838935136200,109518549825754242,#2 Summer 2023,nacl_qualifiers_2_summer_2023,lol,2023-07-20,2023-08-15,...,109783456115883308,NaN,107577678614544951,110536140884380252,107577678374651690,107577682684527120,110734303321604771,99101098222932482,blue,False
4,110733838936446937,completed,1,110733838935136200,109518549825754242,#2 Summer 2023,nacl_qualifiers_2_summer_2023,lol,2023-07-20,2023-08-15,...,107577680004170214,98926509821954141,NaN,110734259501013637,107584075533635103,107577675890640640,109783456115883308,110734280504332124,blue,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24623,104237136865807907,completed,1,104237136838348356,101382741235120470,lla-closing-2020,lla-closing-2020,lol,2020-06-20,2020-09-06,...,NaN,105397186917489455,108443042455354918,98767975971974446,104266800049354578,105512438075390766,107583616307712318,107576831502041293,blue,False
24624,104237136865807908,completed,2,104237136838348356,101382741235120470,lla-closing-2020,lla-closing-2020,lol,2020-06-20,2020-09-06,...,107583616307712318,108443042455354918,105397186917489455,99921042942435093,99566408333803032,99921042944629053,NaN,107581310368859515,red,False
24625,104237136865807909,completed,3,104237136838348356,101382741235120470,lla-closing-2020,lla-closing-2020,lol,2020-06-20,2020-09-06,...,NaN,105397186917489455,108443042455354918,98767975971974446,104266800049354578,105512438075390766,107583616307712318,107576831502041293,red,False
24626,104237136865807910,completed,4,104237136838348356,101382741235120470,lla-closing-2020,lla-closing-2020,lol,2020-06-20,2020-09-06,...,107583616307712318,108443042455354918,105397186917489455,99921042942435093,99566408333803032,99921042944629053,NaN,107581310368859515,blue,False
24627,104237136865807911,completed,5,104237136838348356,101382741235120470,lla-closing-2020,lla-closing-2020,lol,2020-06-20,2020-09-06,...,NaN,105397186917489455,108443042455354918,98767975971974446,104266800049354578,105512438075390766,107583616307712318,107576831502041293,red,False